.jumbotron{
    margin:0px 0px 0px 0px;
    border-radius:10px;
    background:linear-gradient(rgba(0, 0, 250, 0.25), rgba(125, 250, 250, 0.45)),
    url(https://i.imgur.com/3GpxZso.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    color:white !important;

}

.jumbotron h1 {
    font-size: 2em;
}